CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_CM1000=y

# Enable MPU and GPIO
CONFIG_ARM_MPU=y
CONFIG_GPIO=y

# ZMK Essentials
CONFIG_ZMK=y

CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y
