CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_CM1000=y

# Hardware Enablement
CONFIG_GPIO=y
CONFIG_NRFX_GPIOTE=y
CONFIG_NRFX_NVMC=y

# USB Support
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_NRFX=y
CONFIG_ZMK_USB=y

# Bluetooth Support
CONFIG_ZMK_BLE=y

# Flash and Settings
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS=y

# Battery fuel gauge
CONFIG_I2C=y
CONFIG_ZMK_MAX17048=y

# Output format
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_USE_DT_CODE_PARTITION=y
